{% extends "layout2.html" %}

{% block title %}Quiz{% endblock %}
{% block nav %}
<li class="nav-item">
  <a class="nav-link text-center" href="{% url 'leaderboard' quiz_id %}">Leaderboard</a>
</li>
{% endblock %}

{% block body %}
<div class="container mt-5 mb-5">
<form method="post" action="{% url 'quiz' quiz_id %}">
  {% csrf_token %}
  <h1 class="text-center">
    Quiz
  </h1>
  

  
  
  <div class="progress">
    
    <div id="theBar" class="progress-bar progress-bar-striped progress-bar-animated" role="progressbar" aria-valuenow="100" aria-valuemin="0" aria-valuemax="100" style="width: 100%; border-radius: 0;">
        
    </div>
</div>
 
 
  <div class="card border-info">
   
    {% for key in questions %}
    
    <div class="card-header bg-info text-white">Question {{forloop.counter}}</div>
      <div class="card-body">
        <h5 class="user-select-none">
          {{ key.quiz }}
        </h5>

        
        <input type="hidden" name="q{{forloop.counter}}" value="{{q.id}}">
        <div class="form-check">
          <input class="form-check-input" type="radio" name="q{{forloop.counter}}o" id="q{{forloop.counter}}o1" value="A">
          <label class="form-check-label" for="q{{forloop.counter}}o1">
            {{ key.options.0 }}
          </label>
        </div>
          <div class="form-check">
          <input class="form-check-input" type="radio" name="q{{forloop.counter}}o" id="q{{forloop.counter}}o1" value="B">
          <label class="form-check-label" for="q{{forloop.counter}}o1">
            {{ key.options.1 }}
          </label>
        </div>
        <div class="form-check">
          <input class="form-check-input" type="radio" name="q{{forloop.counter}}o" id="q{{forloop.counter}}o1" value="C">
          <label class="form-check-label" for="q{{forloop.counter}}o1">
            {{ key.options.2 }}
          </label>
        </div>
          <div class="form-check">
          <input class="form-check-input" type="radio" name="q{{forloop.counter}}o" id="q{{forloop.counter}}o1" value="D">
          <label class="form-check-label" for="q{{forloop.counter}}o1">
            {{ key.options.3 }}
          </label>
        </div>
        </div>
   
        {% endfor %}
      </div>
      
      
  
    
      
    <br>
  <button type="submit" class="btn btn-primary w-100">Submit</button>
</form>
</div>
{% endblock %}
{% block js %}
<script>
  var i = 100;
  
  var counterBack = setInterval(function(){
  i--;
  if(i>0){
      document.getElementById("theBar").style.width = i+1+"%";
      
  } else {
     clearTimeout(counterBack);
  }
  
  }, 1000);
  </script>

{% endblock %}
